/*Some necessary adjustments*/
h1, body, html, main, p {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #726969;
}
#outerwrapper{
  width: 900px;
  padding: 50px 0 50px 0;
  height: auto;
  margin:auto;
  margin-top:50px;
  margin-bottom:50px;
  -webkit-box-shadow: 0 1px 5px 2px #e5e5e5;
  -moz-box-shadow: 0 1px 5px 2px #e5e5e5;
  box-shadow: 0 1px 5px 2px #e5e5e5;
 /*box-shadow: [horizontal-offset] [vertical-offset] [blur-radius] [spread-distance] [color] inset*/
}
#innerwrapper{
  margin: 100px;

}
h1{
  color: #ffffff;
  margin:auto;
  font-size: 55px;
  font-weight:normal;
  text-align:center;
  height: auto;
  width: 800px;
  line-height: 420px;
  background-image: url("../images/soup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

h2{
  font-size: 21px;
  font-weight: 400;
  color: #000000;
  margin-top: 30px;
}

ul,ol{
  font-size: 16px;
}
ol{
  margin-left: -20px;
}
ul{
  list-style-type:none;
  text-indent: -40px;
}
ul > li:before{
  content:"-";

}

#recipe-img-wrapper, #cooking-img-wrapper{
  text-align:center;
}

#recipe-img-wrapper img{
  width: 350px;
  margin: 30px;
}
#cooking-img-wrapper img{
  width: 300px;
  margin: 30px;
}

.separator{
  background-color: #d6d4d4;
  height: 2px;
  margin: 10px 0 10px 0;
}
